# 虚拟环境
venv/
.venv/

# Python 缓存
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# 临时输出、数据
cam_test_frames/
outputs/
logs/
*.log

# 大模型权重、检查点
*.pt
*.pth
*.pth.tar
.DS_Store
/ResNet_project/data/fruits-360_100x100
/ResNet_project/data
mac_camera_test.py
mac_camera_test.py
OPERATION_GUIDE.md
photos/plane_detection_frame_370.jpg
photos/plane_detection_frame_316.jpg
/plane_rcnn
/raspberry_pi
/文件 指南
/plane_rcnn
